<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
    <appSettings>

        <add key="TestPublishingChannelHostClientServiceName" value="TestConsole"/>
        <add key="TestPublishingChannelHostName" value="localhost"/>
        <add key="TestPublishingChannelHostPort" value="5672"/>
        <add key="TestPublishingChannelHostVirtualHost" value="/dennis"/>
        <add key="TestPublishingChannelHostUserName" value="dennis"/>
        <add key="TestPublishingChannelHostPassword" value="dennis"/>
        <add key="TestPublishingChannelExchangeName" value="test.exchange"/>
        <add key="TestPublishingChannelExchangeType" value="fanout"/>
        <add key="TestPublishingChannelExchangeDurable" value="false"/>
        <add key="TestPublishingChannelExchangeAutoDelete" value="false"/>
        <add key="TestPublishingChannelQueueName" value=""/>
        <add key="TestPublishingChannelQueueDurable" value="true"/>
        <add key="TestPublishingChannelQueueExclusive" value="false"/>
        <add key="TestPublishingChannelQueueAutoDelete" value="false"/>
        <add key="TestPublishingChannelQueueNoAck" value="false"/>
        <add key="TestPublishingChannelQueueBindRoutingKeys" value=""/>

        <add key="TestConsumingChannelHostClientServiceName" value="TestConsole"/>
        <add key="TestConsumingChannelHostName" value="localhost"/>
        <add key="TestConsumingChannelHostPort" value="5672"/>
        <add key="TestConsumingChannelHostVirtualHost" value="/dennis"/>
        <add key="TestConsumingChannelHostUserName" value="dennis"/>
        <add key="TestConsumingChannelHostPassword" value="dennis"/>
        <add key="TestConsumingChannelExchangeName" value="test.exchange"/>
        <add key="TestConsumingChannelExchangeType" value="fanout"/>
        <add key="TestConsumingChannelExchangeDurable" value="false"/>
        <add key="TestConsumingChannelExchangeAutoDelete" value="false"/>
        <add key="TestConsumingChannelQueueName" value="test.queue"/>
        <add key="TestConsumingChannelQueueDurable" value="true"/>
        <add key="TestConsumingChannelQueueExclusive" value="false"/>
        <add key="TestConsumingChannelQueueAutoDelete" value="false"/>
        <add key="TestConsumingChannelQueueNoAck" value="false"/>
        <add key="TestConsumingChannelQueueBindRoutingKeys" value=""/>
        
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <nlog autoReload="true" throwExceptions="true">
        <targets>
            <target name="console" type="ColoredConsole" encoding="utf-8" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" useDefaultRowHighlightingRules="true"/>
            <target name="file" type="File" fileName="${basedir}/logs/test-${shortdate}.log" layout="${longdate}|${level:uppercase=true}|${logger}|${message}"/>
        </targets>
        <rules>
            <logger name="*" minlevel="Debug" writeTo="console"/>
            <logger name="*" minlevel="Error" writeTo="file"/>
        </rules>
    </nlog>
</configuration>
